<?xml version="1.0" encoding="UTF-8"?><!--
  ~ Copyright (c) 2013 Super Fun Time
  ~ All Rights Reserved
  ~
  ~ This product is protected by copyright and distributed under
  ~ licenses restricting copying, distribution, and decompilation.
  -->

<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %-10logger{1} - %msg%n" />
        </Console>
        <RollingFile name="RollingFile" filename="logs/bot.log"
            filePattern="logs/$${date:yyyy-MM}/bot-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %-10logger{1} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
            <DefaultRolloverStrategy max="50" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>